.imgbd {
  height: 15rem;
  width: 15rem;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: transparent;
  border-color: #343a;
}

.page-item.disabled .page-link {
  color: #fff;
  pointer-events: none;
  background-color: transparent;
  border-color: #343a;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  border: 1px solid #343a;
}

.page-link:focus, .page-link:hover {
  color: #343a;
  text-decoration: none;
  background-color: #ddd;
  border: #e9ecef;
}

@media(max-width:640px){
  .ocultarfoto{
    display: none;
    visibility: hidden;
  }
}


.widget p {
	display: inline-block;
	line-height: 1em;
}

.fecha {
	font-family: Oswald, Arial;
	text-align: center;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	width: 100%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	text-align: center;
}

.reloj .caja-segundos {
	display: inline-block;
}
