{% extends 'core/base.html' %}
{% load static %}
{% block title %}<h1>Nosotros</h1>{% endblock %}

{% block content %}
<section class="p-5 m-3">
  <div class="row">
    <div class="col-md-3">
        <img src="{% static 'core/images/cocinera.jpg' %}" class="img-fluid imgbd" alt="...">
        <div class="card-body">
            <h5 class="card-title">Esperanza Reyes</h5>
            <hr>
            Ingenieria en Informatica
            <br>
            Duoc UC
            <br>
            Sede San Joquin
        </div>
    </div>
    <div class="col-md-3">
        <img src="{% static 'core/images/chef.jpg' %}" class="img-fluid imgbd" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jose Venegas</h5>
            <hr>
            Analista Programador Computacional
            <br>
            Duoc UC
            <br>
            Sede San Joquin
        </div>
    </div>
    <div class="col-md-3">
        <img src="{% static 'core/images/chef.jpg' %}" class="img-fluid imgbd" alt="...">
        <div class="card-body">
            <h5 class="card-title">Miguel Alvarez</h5>
            <hr>
            Analista Programador Computacional
            <br>
            Duoc UC
            <br>
            Sede San Joquin
        </div>
    </div>
    <div class="col-md-3">
        <img src="{% static 'core/images/cocinera.jpg' %}" class="img-fluid imgbd" alt="...">
        <div class="card-body">
            <h5 class="card-title">Paloma Cortes</h5>
            <hr>
            Ingenieria en Informatica
            <br>
            Duoc UC
            <br>
            Sede San Joquin
        </div>
    </div>
  </div>

</section>

{% endblock %}
