{% load static %}
<!DOCTYPE HTML>

<html lang="es-cl" dir="ltr">
	<head>
		<title> Pasteleria Umami </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

		<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>
		<link rel="stylesheet" href="{% static 'core/assets/css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'core/assets/css/style.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'core/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
    <!-- Wrapper -->
    	<div id="wrapper">
				<header id="header">
					<div class="logo">
						<i class="fas fa-birthday-cake fa-3x"></i>
					</div>
					<div class="content">
						<div class="inner">
							{% block title %}{% endblock %}
						</div>
					</div>
					<nav>
						<ul>
							<li><a href="{% url 'index' %}">Intro</a></li>
							<li><a href="{% url 'tortas' %}">Tortas</a></li>
							<li><a href="{% url 'picoteo' %}">Dulces</a></li>
							<li><a href="{% url 'receta' %}">Recetas</a></li>
							<li><a href="{% url 'about' %}">Nosotros</a></li>
							<li><a href="{% url 'contact' %}">Contacto</a></li>
							<!--<li><a href="#elements">Elements</a></li>-->
						</ul>
					</nav>
				</header>

        {% block content %}{% endblock %}

        <footer id="footer text-faded text-center py-5">

						<div class="container-body-all m-5">

								<div class="row">

										<div class="col-md-6">
												<h2>Redes Sociales</h2>
												<div class="row">
														{% if LINK_FACEBOOK %}
															<a href="{{LINK_FACEBOOK}}" class="link" target="_blank">
																<span class="fa-stack fa-lg">
																	<i class="fab fa-facebook-f p-2"></i>
																</span>
															</a>
														{% endif %}
														<label>Siguenos en Facebook</label>
												</div>
												<div class="row">
														{% if LINK_INSTAGRAM %}
															<a href="{{LINK_INSTAGRAM}}" class="link" target="_blank">
																<span class="fa-stack fa-lg">
																	<i class="fab fa-instagram p-2"></i>
																</span>
															</a>
														{% endif %}
														<label>Siguenos en Instagram</label>
												</div>
												<div class="row">
														{% if LINK_TWITTER %}
															<a href="{{LINK_TWITTER}}" class="link" target="_blank">
																<span class="fa-stack fa-lg">
																	<i class="fab fa-twitter p-2"></i>
																</span>
															</a>
														{% endif %}
														<label>Siguenos en Twitter</label>
												</div>
										</div>

										<div class="col-md-6">
												<h2 style="font-size:22px">Contacto</h2>
												<div class="row">
														<span class="fa-stack fa-lg"><i class="fas fa-home"></i></span>
														<label>Las Condes #7015, Santiago</label>
												</div>
												<div class="row">
													<span class="fa-stack fa-lg"><i class="fas fa-phone-alt"></i></span>
														<label>+56953637958</label>
												</div>
												<div class="row">
													<span class="fa-stack fa-lg"><i class="fas fa-envelope-open-text"></i></span>
														<label>PasteleriaUmami@gmail.com</label>
												</div>
										</div>
								</div>

						</div>

				</footer>

			</div>


    <!-- BG -->
      <div id="bg"></div>

    <!-- Scripts -->
      <script src="{% static 'core/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'core/assets/js/browser.min.js' %}"></script>
      <script src="{% static 'core/assets/js/breakpoints.min.js' %}"></script>
      <script src="{% static 'core/assets/js/util.js' %}"></script>
      <script src="{% static 'core/assets/js/main.js' %}"></script>

  </body>
</html>
